h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-size: 36px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 36px;
}

h2 {
    color: crimson;
}

.fundo-azul {
    background: #290ce7;
}